// src/styles/custom.scss


.inter-vimeo {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
body {
  width: 100%;
  height: 7000px;
  margin: auto;
}
p{
  font-size: 20px;
  font-weight: 400;
}
a {
  text-decoration: none;
  list-style: none;
  color: inherit;
}

h1 {
  font-style: normal;
  font-weight: 500;
  color: rgb(10, 14, 18);
  font-size: 92px;
  line-height: 92px;
}


.parrafo-personalizado {
  font-style: normal;
  font-weight: 400;
  color: rgb(61, 71, 81);
  font-size: 24px;
  line-height: 24px;
}

.h1-personalizado {
  font-style: normal;
  font-weight: 500;
  color: rgb(10, 14, 18);
  font-size: 72px;
  line-height: 72px;
}

.container {
  margin-top: 20px;
}

.custom-img1 {
  max-width: 661px; /* Define el ancho máximo */
  max-height: 661px; /* Define la altura máxima */
  object-fit: cover; /* Asegura que la imagen mantenga proporciones adecuadas */
}

.section-3 {
  background: url('fotoHorizontal.png') center center / cover no-repeat;
  height: 40vh; /* Altura ajustable */
  display: flex;
  position: relative;
}

.section-3 .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6); /* Oscurece la imagen de fondo */
  z-index: 1;
}

.section-3 .container {
  position: relative;
  z-index: 2; /* Asegura que el contenido esté encima del overlay */
  padding-left: 6rem;
}


.section-1 {
  header {
    width: 100%;
    height: 90px;
    background-color: transparent;
    backdrop-filter: blur(15px);
    position: fixed;
    font-weight: 600;
    z-index: 1000;

    nav {
      width: 1600px;
      height: auto;

      .menu1 {
        #menu3 {
          width: 1300px;
          height: 600px;
          align-items: center;
          display: flex;
          text-align: center;
          justify-content: center;

          .row {
            width: 1100px;
            object-fit: contain;
            height: auto;
            margin: 20px;
            text-align: center;
            align-items: center;
          }
          col {
            width: 500px;
            height: auto;
            margin: auto;

          }
          span {
            font-size: 25px;
            font-weight: 600;
            text-align: center;
            align-items: center;
          }
        }

        li {
          padding: 10px;
          position: relative; // Añadir esta línea para el posicionamiento relativo
        }
        li a {
          transition: background-color 0.3s ease-in-out,
            opacity 0.3s ease-in-out; /* Transición suave para el color y la opacidad */
          border-radius: 10px;
        }
        li a:hover {
          background-color: rgb(216, 214, 214); /* Color de fondo al pasar el ratón */
          opacity: 1; /* Opacidad completa */
          border-radius: 10px;
        }

        // Añadir estilos para mostrar el menú desplegable al hacer hover
        li:hover .dropdown-menu {
          display: block;
        }

        .dropdown-menu {
          display: none; // Ocultar el menú desplegable por defecto
          position: fixed; // Posicionamiento fijo para el menú desplegable
          top: 100px; // Ajusta la posición vertical según sea necesario
          left: 50%; // Centrar horizontalmente
          transform: translateX(-50%); // Ajustar para centrar completamente
          z-index: 1001; // Asegurar que el menú desplegable esté por encima de otros elementos

          p:hover {
            color: rgb(23, 213, 255);
            transition: color 0.8s ease-in-out;
          }
        }
      }


      .menu2 {
        li {
          padding: 10px;
        }
      }
    }
  }
}

.over {
  position: relative;
  overflow: hidden;
  width: 200px;
  height: 50px;
  background-color: rgb(216, 214, 214); 
  border: none;
  transition: background-color 1s ease; // Transición suave para el color de fondo
}

.over:hover {
  flex-wrap: wrap; // Cambia el comportamiento de flex al hacer hover
}

.azul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(57, 205, 250);
  transform: translateX(100%); // Mueve el elemento fuera de la vista
  transition: transform 1s ease; // Transición suave para la transformación
}

.over:hover .azul {
  transform: translateX(0); // Mueve el elemento a su posición original al hacer hover
}

.unirse {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: white;
  font-size: 16px;
}

.contFlecha {
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
  width: 30px;
  height: 50%;
}

.flecha {
  position: absolute;
  top: 0;
  right: 0;
  transition: transform 1s ease; // Transición suave para la transformación
  white-space: nowrap; 
}

.flecha.izquierda {
  transform: translateX(0); // Posición inicial
}

.flecha.derecha {
  transform: translateX(-100%); // Mueve el elemento fuera de la vista
}

.over:hover .flecha.izquierda {
  transform: translateX(100%); // Mueve el elemento fuera de la vista al hacer hover
}

.over:hover .flecha.derecha {
  transform: translateX(0); // Mueve el elemento a su posición original al hacer hover
}

/* Botón grande */
.overG {
  position: relative;
  overflow: hidden;
  width: 400px;
  height: 50px;
  background-color: rgb(35, 43, 58); 
  border: none;
  transition: background-color 1s ease; // Transición suave para el color de fondo
}

.overG:hover {
  flex-wrap: wrap; // Cambia el comportamiento de flex al hacer hover
}

.azulG {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 189, 247);
  transform: translateX(100%); // Mueve el elemento fuera de la vista
  transition: transform 1s ease; // Transición suave para la transformación
}

.overG:hover .azulG {
  transform: translateX(0); // Mueve el elemento a su posición original al hacer hover
}

.unirseG {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: white;
  font-size: 16px;
}

.contFlechaG {
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
  width: 30px;
  height: 50%;
}

.flechaG {
  position: absolute;
  top: 0;
  right: 0;
  transition: transform 1s ease; // Transición suave para la transformación
  white-space: nowrap; 
}

.flecha.izquierdaG {
  transform: translateX(0); // Posición inicial
}

.flecha.derechaG {
  transform: translateX(-100%); // Mueve el elemento fuera de la vista
}

.overG:hover .flecha.izquierdaG {
  transform: translateX(100%); // Mueve el elemento fuera de la vista al hacer hover
}

.overG:hover .flecha.derechaG {
  transform: translateX(0); // Mueve el elemento a su posición original al hacer hover
}

/* Botón azul */
.overA {
  position: relative;
  overflow: hidden;
  width: 200px;
  height: 50px;
  background-color: rgb(57, 205, 250); 
  border: none;
  transition: background-color 1s ease; // Transición suave para el color de fondo
}

.overA:hover {
  flex-wrap: wrap; // Cambia el comportamiento de flex al hacer hover
}

.azulA {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(7, 164, 212);
  transform: translateX(100%); // Mueve el elemento fuera de la vista
  transition: transform 1s ease; // Transición suave para la transformación
}

.overA:hover .azulA {
  transform: translateX(0); // Mueve el elemento a su posición original al hacer hover
}

.unirseA {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: white;
  font-size: 16px;
}

.contFlechaA {
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
  width: 30px;
  height: 50%;
}

.flechaA {
  position: absolute;
  top: 0;
  right: 0;
  transition: transform 1s ease; // Transición suave para la transformación
  white-space: nowrap; 
}

.flecha.izquierdaA {
  transform: translateX(0); // Posición inicial
}

.flecha.derechaA {
  transform: translateX(-100%); // Mueve el elemento fuera de la vista
}

.overA:hover .flecha.izquierdaA {
  transform: translateX(100%); // Mueve el elemento fuera de la vista al hacer hover
}

.overA:hover .flecha.derechaA {
  transform: translateX(0); // Mueve el elemento a su posición original al hacer hover
}

/* Botón azul grande */
.overAG {
  position: relative;
  overflow: hidden;
  width: 300px;
  height: 50px;
  background-color: rgb(57, 205, 250); 
  border: none;
  transition: background-color 1s ease; // Transición suave para el color de fondo
}

.overAG:hover {
  flex-wrap: wrap; // Cambia el comportamiento de flex al hacer hover
}

.azulAG {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(7, 164, 212);
  transform: translateX(100%); // Mueve el elemento fuera de la vista
  transition: transform 1s ease; // Transición suave para la transformación
}

.overAG:hover .azulAG {
  transform: translateX(0); // Mueve el elemento a su posición original al hacer hover
}

.unirseAG {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: white;
  font-size: 16px;
}

.contFlechaAG {
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
  width: 30px;
  height: 50%;
}

.flechaAG {
  position: absolute;
  top: 0;
  right: 0;
  transition: transform 1s ease; // Transición suave para la transformación
  white-space: nowrap; 
}

.flecha.izquierdaAG {
  transform: translateX(0); // Posición inicial
}

.flecha.derechaAG {
  transform: translateX(-100%); // Mueve el elemento fuera de la vista
}

.overAG:hover .flecha.izquierdaAG {
  transform: translateX(100%); // Mueve el elemento fuera de la vista al hacer hover
}

.overAG:hover .flecha.derechaAG {
  transform: translateX(0); // Mueve el elemento a su posición original al hacer hover
}

/* Botón pequeño */
.unique-over {
  position: relative;
  overflow: hidden;
  width: 80px; /* Ajusta el ancho según sea necesario */
  height: 50px;
  background-color: rgb(57, 205, 250); 
  border: none;
  transition: background-color 1s ease; // Transición suave para el color de fondo
}

.unique-over:hover {
  background-color: rgb(57, 205, 250); /* Mantener el color de fondo gris */
}

.unique-azul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(7, 164, 212);
  transform: translateX(100%); // Mueve el elemento fuera de la vista
  transition: transform 1s ease; // Transición suave para la transformación
}

.unique-over:hover .unique-azul {
  transform: translateX(0); // Mueve el elemento a su posición original al hacer hover
}

.unique-unirse {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: white;
  font-size: 16px;
}

.unique-contFlecha {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 30px; /* Ajusta el ancho según sea necesario */
  height: 100%;
}

.unique-flecha {
  position: absolute;
  top: 0;
  right: 0;
  transition: transform 1s ease; // Transición suave para la transformación
  white-space: nowrap; 
}

.unique-izquierda {
  transform: translateX(0); // Posición inicial
}

.unique-derecha {
  transform: translateX(-100%); // Mueve el elemento fuera de la vista
}

.unique-over:hover .unique-izquierda {
  transform: translateX(100%); // Mueve el elemento fuera de la vista al hacer hover
}

.unique-over:hover .unique-derecha {
  transform: translateX(0); // Mueve el elemento a su posición original al hacer hover
}

/* Animación del botón al hacer hover en la fila */
.row:first-of-type:hover .unique-over .unique-azul {
  transform: translateX(0); // Mueve el elemento a su posición original al hacer hover
}

.row:first-of-type:hover .unique-over .unique-izquierda {
  transform: translateX(100%); // Mueve el elemento fuera de la vista al hacer hover
}

.row:first-of-type:hover .unique-over .unique-derecha {
  transform: translateX(0); // Mueve el elemento a su posición original al hacer hover
}

/* Animación del botón al hacer hover en la columna */
.col-12:hover .unique-over .unique-azul,
.col-md-6:hover .unique-over .unique-azul {
  transform: translateX(0); // Mueve el elemento a su posición original al hacer hover
}

.col-12:hover .unique-over .unique-izquierda,
.col-md-6:hover .unique-over .unique-izquierda {
  transform: translateX(100%); // Mueve el elemento fuera de la vista al hacer hover
}

.col-12:hover .unique-over .unique-derecha,
.col-md-6:hover .unique-over .unique-derecha {
  transform: translateX(0); // Mueve el elemento a su posición original al hacer hover
}

/* Transiciones */
@keyframes fadeInUp {
  0% {
      opacity: 0;
      transform: translateY(100px);
  }
  100% {
      opacity: 1;
      transform: translateY(0);
  }
}

.transicion-texto-h2 {
  opacity: 0;
  transform: translateY(100px);
  animation: fadeInUp 1s ease forwards; // Animación de entrada
}

.transicion-texto-h1 {
  opacity: 0;
  transform: translateY(100px);
  animation: fadeInUp 1s ease forwards; // Animación de entrada
}

.transicion-texto-delay {
  opacity: 0;
  transform: translateY(100px);
  animation: fadeInUp 1s ease forwards; // Animación de entrada
  animation-delay: 1s; /* Añade un retardo de 1s */
}

.animate {
  animation: fadeInUp 1s ease forwards; // Animación de entrada
}

.transicion-texto-delay.animate {
  animation-delay: 1s; /* Añade un retardo de 1s */
}

li.nav-item.dropdown .nav-link.dropdown-toggle::after {
  font-family: "Font Awesome 5 Free"; /* Asegúrate de que Font Awesome esté cargado */
  font-weight: 900;
  margin-left: 0.5rem;
  transition: transform 0.3s ease-in-out; // Transición suave para la transformación
}

li.nav-item.dropdown:hover .nav-link.dropdown-toggle::after {
  transform: rotate(-180deg); /* Gira la flecha hacia arriba */
}

/* Slider */
.image-container {
  overflow: hidden;
  width: 100%;
  position: relative;
}

.image-container::before,
.image-container::after {
  content: "";
  position: absolute;
  top: 0;
  width: 100px;
  height: 100%;
  z-index: 1;
}

.image-container::before {
  left: 0;
  background: linear-gradient(to right, #f1f5f9, transparent);
}

.image-container::after {
  right: 0;
  background: linear-gradient(to left, #f1f5f9, transparent);
}

.image-wrapper {
  display: flex;
  gap: 5px;
  width: max-content;
  animation: marquee-container 30s linear infinite; // Animación de desplazamiento
}

@keyframes marquee-container {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.small-img {
  height: 80px;
  object-fit: contain;
  padding-right: 105px;
  margin-bottom: 50px;
}

/* Casos de uso */
.casosDeUso {
  .centrado {
    margin-left: -5px;
    margin-top: 10px;
    p {
      font-size: 15px;
      width: 99%;
    }
    h2 {
      margin-top: 10px;
    }
  }

  img {
    width: 100%;
    height: 450px;
    margin-left: -8px;
    border-radius: 25px;
    object-fit: cover;
  }
}

#morganCooper {
  width: 100%;
  transition: width 0.35s ease-in-out; // Transición suave para el ancho
}

#morganCooper:hover {
  width: 200%;
  transition: all 0.35s ease-in-out; // Transición suave para todas las propiedades
}

// Animacion primer caso de uso
.col-md-4:has(#morganCooper:hover) ~ .col-md-4 #vermicular {
  width: 50%;
  margin-left: 100%;
  transition: all 0.35s ease-in-out; // Transición suave para todas las propiedades
}
.col-md-4:has(#morganCooper:hover) ~ .col-md-4 #stellantis {
  width: 50%;
  margin-left: 50%;
  transition: all 0.35s ease-in-out; // Transición suave para todas las propiedades
}

// Animacion segundo caso de uso
.row:has(#vermicular:hover) .col-md-4 #morganCooper {
  width: 50%;
  margin-left: 0%;
  transition: all 0.35s ease-in-out; // Transición suave para todas las propiedades
}

.col-md-4:has(#vermicular:hover) ~ .col-md-4 #stellantis {
  width: 50%;
  margin-left: 50%;
  transition: all 0.35s ease-in-out; // Transición suave para todas las propiedades
}

// Animacion tercer caso de uso
.row:has(#stellantis:hover) .col-md-4 #morganCooper {
  width: 50%;
  margin-left: 0%;
  transition: all 0.35s ease-in-out; // Transición suave para todas las propiedades
}
.row:has(#stellantis:hover) .col-md-4 #vermicular {
  width: 50%;
  margin-left: -50%;
  transition: all 0.35s ease-in-out; // Transición suave para todas las propiedades
}

#vermicular {
  width: 100%;
  margin-left: 0%;
  transition: all 0.35s ease-in-out; // Transición suave para todas las propiedades

  &:hover {
    width: 200%;
    margin-left: -50%;
    transition: all 0.35s ease-in-out; // Transición suave para todas las propiedades
  }
}

#stellantis {
  width: 100%;
  margin-left: 0%;
  transition: all 0.35s ease-in-out; // Transición suave para todas las propiedades

  &:hover {
    width: 200%;
    margin-left: -100%;
    transition: all 0.35s ease-in-out; // Transición suave para todas las propiedades
  }
}

#laptopcontainer {
  margin-top: 5rem;
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: 15rem; /* Añadir margen inferior */

  #laptopImg {
    height: 650px;
    width: 1290px;
    max-width: auto;
    position: absolute;
  }

  #laptop {
    margin-top: 65px;
    margin-left: auto;
    height: 350px;
    width: 100%;
    margin-bottom: 100px;
    position: relative;
    z-index: 3;
  }
}


.over {
  position: relative;
  overflow: hidden;
  width: 200px;
  height: 50px;
  background-color: rgb(216, 214, 214); 
  border: none;
  transition: background-color 1s ease; // Transición suave para el color de fondo
}

.over:hover {
  flex-wrap: wrap; // Cambia el comportamiento de flex al hacer hover
}

.azul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(57, 205, 250);
  transform: translateX(100%); // Mueve el elemento fuera de la vista
  transition: transform 1s ease; // Transición suave para la transformación
}

.over:hover .azul {
  transform: translateX(0); // Mueve el elemento a su posición original al hacer hover
}

.unirse {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: white;
  font-size: 16px;
}

.contFlecha {
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
  width: 30px;
  height: 50%;
}

.flecha {
  position: absolute;
  top: 0;
  right: 0;
  transition: transform 1s ease; // Transición suave para la transformación
  white-space: nowrap; 
}

.flecha.izquierda {
  transform: translateX(0); // Posición inicial
}

.flecha.derecha {
  transform: translateX(-100%); // Mueve el elemento fuera de la vista
}

.over:hover .flecha.izquierda {
  transform: translateX(100%); // Mueve el elemento fuera de la vista al hacer hover
}

.over:hover .flecha.derecha {
  transform: translateX(0); // Mueve el elemento a su posición original al hacer hover
}

/* Botón grande */
.overG {
  position: relative;
  overflow: hidden;
  width: 400px;
  height: 50px;
  background-color: rgb(35, 43, 58); 
  border: none;
  transition: background-color 1s ease; // Transición suave para el color de fondo
}

.overG:hover {
  flex-wrap: wrap; // Cambia el comportamiento de flex al hacer hover
}

.azulG {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 189, 247);
  transform: translateX(100%); // Mueve el elemento fuera de la vista
  transition: transform 1s ease; // Transición suave para la transformación
}

.overG:hover .azulG {
  transform: translateX(0); // Mueve el elemento a su posición original al hacer hover
}

.unirseG {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: white;
  font-size: 16px;
}

.contFlechaG {
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
  width: 30px;
  height: 50%;
}

.flechaG {
  position: absolute;
  top: 0;
  right: 0;
  transition: transform 1s ease; // Transición suave para la transformación
  white-space: nowrap; 
}

.flecha.izquierdaG {
  transform: translateX(0); // Posición inicial
}

.flecha.derechaG {
  transform: translateX(-100%); // Mueve el elemento fuera de la vista
}

.overG:hover .flecha.izquierdaG {
  transform: translateX(100%); // Mueve el elemento fuera de la vista al hacer hover
}

.overG:hover .flecha.derechaG {
  transform: translateX(0); // Mueve el elemento a su posición original al hacer hover
}

/* Botón azul */
.overA {
  position: relative;
  overflow: hidden;
  width: 200px;
  height: 50px;
  background-color: rgb(57, 205, 250); 
  border: none;
  transition: background-color 1s ease; // Transición suave para el color de fondo
}

.overA:hover {
  flex-wrap: wrap; // Cambia el comportamiento de flex al hacer hover
}

.azulA {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(7, 164, 212);
  transform: translateX(100%); // Mueve el elemento fuera de la vista
  transition: transform 1s ease; // Transición suave para la transformación
}

.overA:hover .azulA {
  transform: translateX(0); // Mueve el elemento a su posición original al hacer hover
}

.unirseA {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: white;
  font-size: 16px;
}

.contFlechaA {
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
  width: 30px;
  height: 50%;
}

.flechaA {
  position: absolute;
  top: 0;
  right: 0;
  transition: transform 1s ease; // Transición suave para la transformación
  white-space: nowrap; 
}

.flecha.izquierdaA {
  transform: translateX(0); // Posición inicial
}

.flecha.derechaA {
  transform: translateX(-100%); // Mueve el elemento fuera de la vista
}

.overA:hover .flecha.izquierdaA {
  transform: translateX(100%); // Mueve el elemento fuera de la vista al hacer hover
}

.overA:hover .flecha.derechaA {
  transform: translateX(0); // Mueve el elemento a su posición original al hacer hover
}

/* Botón azul grande */
.overAG {
  position: relative;
  overflow: hidden;
  width: 300px;
  height: 50px;
  background-color: rgb(57, 205, 250); 
  border: none;
  transition: background-color 1s ease; // Transición suave para el color de fondo
}

.overAG:hover {
  flex-wrap: wrap; // Cambia el comportamiento de flex al hacer hover
}

.azulAG {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(7, 164, 212);
  transform: translateX(100%); // Mueve el elemento fuera de la vista
  transition: transform 1s ease; // Transición suave para la transformación
}

.overAG:hover .azulAG {
  transform: translateX(0); // Mueve el elemento a su posición original al hacer hover
}

.unirseAG {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: white;
  font-size: 16px;
}

.contFlechaAG {
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
  width: 30px;
  height: 50%;
}

.flechaAG {
  position: absolute;
  top: 0;
  right: 0;
  transition: transform 1s ease; // Transición suave para la transformación
  white-space: nowrap; 
}

.flecha.izquierdaAG {
  transform: translateX(0); // Posición inicial
}

.flecha.derechaAG {
  transform: translateX(-100%); // Mueve el elemento fuera de la vista
}

.overAG:hover .flecha.izquierdaAG {
  transform: translateX(100%); // Mueve el elemento fuera de la vista al hacer hover
}

.overAG:hover .flecha.derechaAG {
  transform: translateX(0); // Mueve el elemento a su posición original al hacer hover
}

/* Botón pequeño */
.unique-over {
  position: relative;
  overflow: hidden;
  width: 80px; /* Ajusta el ancho según sea necesario */
  height: 50px;
  background-color: rgb(57, 205, 250); 
  border: none;
  transition: background-color 1s ease; // Transición suave para el color de fondo
}

.unique-over:hover {
  background-color: rgb(57, 205, 250); /* Mantener el color de fondo gris */
}

.unique-azul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(7, 164, 212);
  transform: translateX(100%); // Mueve el elemento fuera de la vista
  transition: transform 1s ease; // Transición suave para la transformación
}

.unique-over:hover .unique-azul {
  transform: translateX(0); // Mueve el elemento a su posición original al hacer hover
}

.unique-unirse {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: white;
  font-size: 16px;
}

.unique-contFlecha {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 30px; /* Ajusta el ancho según sea necesario */
  height: 100%;
}

.unique-flecha {
  position: absolute;
  top: 0;
  right: 0;
  transition: transform 1s ease; // Transición suave para la transformación
  white-space: nowrap; 
}

.unique-izquierda {
  transform: translateX(0); // Posición inicial
}

.unique-derecha {
  transform: translateX(-100%); // Mueve el elemento fuera de la vista
}

.unique-over:hover .unique-izquierda {
  transform: translateX(100%); // Mueve el elemento fuera de la vista al hacer hover
}

.unique-over:hover .unique-derecha {
  transform: translateX(0); // Mueve el elemento a su posición original al hacer hover
}

/* Animación del botón al hacer hover en la fila */
.row:first-of-type:hover .unique-over .unique-azul {
  transform: translateX(0); // Mueve el elemento a su posición original al hacer hover
}

.row:first-of-type:hover .unique-over .unique-izquierda {
  transform: translateX(100%); // Mueve el elemento fuera de la vista al hacer hover
}

.row:first-of-type:hover .unique-over .unique-derecha {
  transform: translateX(0); // Mueve el elemento a su posición original al hacer hover
}

/* Animación del botón al hacer hover en la columna */
.col-12:hover .unique-over .unique-azul,
.col-md-6:hover .unique-over .unique-azul {
  transform: translateX(0); // Mueve el elemento a su posición original al hacer hover
}

.col-12:hover .unique-over .unique-izquierda,
.col-md-6:hover .unique-over .unique-izquierda {
  transform: translateX(100%); // Mueve el elemento fuera de la vista al hacer hover
}

.col-12:hover .unique-over .unique-derecha,
.col-md-6:hover .unique-over .unique-derecha {
  transform: translateX(0); // Mueve el elemento a su posición original al hacer hover
}

/* Transiciones */
@keyframes fadeInUp {
  0% {
      opacity: 0;
      transform: translateY(100px);
  }
  100% {
      opacity: 1;
      transform: translateY(0);
  }
}

.transicion-texto-h2 {
  opacity: 0;
  transform: translateY(100px);
  animation: fadeInUp 1s ease forwards; // Animación de entrada
}

.transicion-texto-h1 {
  opacity: 0;
  transform: translateY(100px);
  animation: fadeInUp 1s ease forwards; // Animación de entrada
}

.transicion-texto-delay {
  opacity: 0;
  transform: translateY(100px);
  animation: fadeInUp 1s ease forwards; // Animación de entrada
  animation-delay: 1s; /* Añade un retardo de 1s */
}

.animate {
  animation: fadeInUp 1s ease forwards; // Animación de entrada
}

.transicion-texto-delay.animate {
  animation-delay: 1s; /* Añade un retardo de 1s */
}

li.nav-item.dropdown .nav-link.dropdown-toggle::after {
  font-family: "Font Awesome 5 Free"; /* Asegúrate de que Font Awesome esté cargado */
  font-weight: 900;
  margin-left: 0.5rem;
  transition: transform 0.3s ease-in-out; // Transición suave para la transformación
}

li.nav-item.dropdown:hover .nav-link.dropdown-toggle::after {
  transform: rotate(-180deg); /* Gira la flecha hacia arriba */
}

/* Slider */
.image-container {
  overflow: hidden;
  width: 100%;
  position: relative;
}

.image-container::before,
.image-container::after {
  content: "";
  position: absolute;
  top: 0;
  width: 100px;
  height: 100%;
  z-index: 1;
}

.image-container::before {
  left: 0;
  background: linear-gradient(to right, #f1f5f9, transparent);
}

.image-container::after {
  right: 0;
  background: linear-gradient(to left, #f1f5f9, transparent);
}

.image-wrapper {
  display: flex;
  gap: 5px;
  width: max-content;
  animation: marquee-container 30s linear infinite; // Animación de desplazamiento
}

@keyframes marquee-container {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.small-img {
  height: 80px;
  object-fit: contain;
  padding-right: 105px;
  margin-bottom: 50px;
}

/* Casos de uso */
.casosDeUso {
  .centrado {
    margin-left: -5px;
    margin-top: 10px;
    p {
      font-size: 15px;
      width: 99%;
    }
    h2 {
      margin-top: 10px;
    }
  }

  img {
    width: 100%;
    height: 450px;
    margin-left: -8px;
    border-radius: 25px;
    object-fit: cover;
  }
}

#morganCooper {
  width: 100%;
  transition: width 0.35s ease-in-out; // Transición suave para el ancho
}

#morganCooper:hover {
  width: 200%;
  transition: all 0.35s ease-in-out; // Transición suave para todas las propiedades
}

// Animacion primer caso de uso
.col-md-4:has(#morganCooper:hover) ~ .col-md-4 #vermicular {
  width: 50%;
  margin-left: 100%;
  transition: all 0.35s ease-in-out; // Transición suave para todas las propiedades
}
.col-md-4:has(#morganCooper:hover) ~ .col-md-4 #stellantis {
  width: 50%;
  margin-left: 50%;
  transition: all 0.35s ease-in-out; // Transición suave para todas las propiedades
}

// Animacion segundo caso de uso
.row:has(#vermicular:hover) .col-md-4 #morganCooper {
  width: 50%;
  margin-left: 0%;
  transition: all 0.35s ease-in-out; // Transición suave para todas las propiedades
}

.col-md-4:has(#vermicular:hover) ~ .col-md-4 #stellantis {
  width: 50%;
  margin-left: 50%;
  transition: all 0.35s ease-in-out; // Transición suave para todas las propiedades
}

// Animacion tercer caso de uso
.row:has(#stellantis:hover) .col-md-4 #morganCooper {
  width: 50%;
  margin-left: 0%;
  transition: all 0.35s ease-in-out; // Transición suave para todas las propiedades
}
.row:has(#stellantis:hover) .col-md-4 #vermicular {
  width: 50%;
  margin-left: -50%;
  transition: all 0.35s ease-in-out; // Transición suave para todas las propiedades
}

#vermicular {
  width: 100%;
  margin-left: 0%;
  transition: all 0.35s ease-in-out; // Transición suave para todas las propiedades

  &:hover {
    width: 200%;
    margin-left: -50%;
    transition: all 0.35s ease-in-out; // Transición suave para todas las propiedades
  }
}

#stellantis {
  width: 100%;
  margin-left: 0%;
  transition: all 0.35s ease-in-out; // Transición suave para todas las propiedades

  &:hover {
    width: 200%;
    margin-left: -100%;
    transition: all 0.35s ease-in-out; // Transición suave para todas las propiedades
  }
}

#laptopcontainer {
  margin-top: 5rem;
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: 15rem; /* Añadir margen inferior */

  #laptopImg {
    height: 650px;
    width: 1290px;
    max-width: auto;
    position: absolute;
  }

  #laptop {
    margin-top: 65px;
    margin-left: auto;
    height: 350px;
    width: 100%;
    margin-bottom: 100px;
    position: relative;
    z-index: 3;
  }
}

footer {
  background-color: rgba(0, 0, 0, 0.945);
}

footer li:hover {
  color: rgb(23, 213, 255);
  transition: color 0.3s ease-in-out;
}

